<div class="obser">
    {{#each this}}
    <section class="observations">
        <div class="items">
            {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{observation_text}}
        </div>
    </section>
    {{/each}}
</div>